.mainLearnAndEarn {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.mainLearnAndEarn .containerMain {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  flex-shrink: 0;
}
.mainLearnAndEarn .containerMain #headerTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mainLearnAndEarn .containerMain #headerTitle h1 {
  font-family: "Montserrat", sans-serif;
  color: #6a00a6;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
}
.mainLearnAndEarn .containerMain #headerTitle h2 {
  font-family: "Montserrat", sans-serif;
  color: #6a00a6;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
}
.mainLearnAndEarn .containerMain #headerTitle h2 span {
  background: linear-gradient(90deg, #8246ce 0%, #ba02c9 50.51%, #eb45aa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainLearnAndEarn .containerMain section {
  display: flex;
  width: 90%;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 24px;
  border: 1px solid #df8be6;
  background-color: #fff;
}
.mainLearnAndEarn .containerMain section header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mainLearnAndEarn .containerMain section header h3 {
  width: 100%;
  color: #6a00a6;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}
.mainLearnAndEarn .containerMain section header p {
  width: 95%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.mainLearnAndEarn .containerMain section div {
  display: flex;
  width: 95%;
  align-items: flex-start;
  justify-content: space-between;
}
.mainLearnAndEarn .containerMain section div input {
  display: flex;
  width: 55%;
  height: 56px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #b7b6ba;
  color: #949398;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.mainLearnAndEarn .containerMain section div button {
  display: flex;
  width: 196px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  background: linear-gradient(90deg, #8246ce 0%, #ba02c9 50.51%, #eb45aa 100%);
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  cursor: pointer;
}
.mainLearnAndEarn .containerMain section div button:disabled {
  opacity: 0.5;
}

@media (min-width: 1600px) {
  .mainLearnAndEarn .containerMain header {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .mainLearnAndEarn .containerImg {
    display: none;
  }
  .mainLearnAndEarn .containerMain {
    width: 100%;
  }
  .mainLearnAndEarn .containerMain section {
    width: 100%;
  }
  .mainLearnAndEarn .containerMain section div {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
  .mainLearnAndEarn .containerMain section div input {
    width: 100%;
  }
  .mainLearnAndEarn .containerMain section div button {
    width: 100%;
  }
}
@media (max-width: 860px) {
  .mainLearnAndEarn {
    width: 90%;
    flex-wrap: wrap;
    height: auto;
  }
  .mainLearnAndEarn .containerMain {
    width: 100%;
  }
  .mainLearnAndEarn .containerMain #headerTitle {
    gap: 5px;
  }
  .mainLearnAndEarn .containerMain #headerTitle h1 {
    font-size: 36px;
    width: 100%;
  }
  .mainLearnAndEarn .containerMain #headerTitle h2 {
    font-size: 36px;
  }
  .mainLearnAndEarn .containerMain section {
    width: 100%;
  }
  .mainLearnAndEarn .containerMain section header h3 {
    font-size: 24px;
  }
  .mainLearnAndEarn .containerMain section header p {
    font-size: 18px;
  }
  .mainLearnAndEarn .containerMain section div {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
  }
  .mainLearnAndEarn .containerMain section div input {
    width: 100%;
  }
  .mainLearnAndEarn .containerMain section div button {
    width: 100%;
  }
}/*# sourceMappingURL=RewardLearnAndEarn.module.css.map */