.containerMain {
  display: flex;
  width: 392px;
  height: 435px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;

  header {
    h2 {
      color: #09090d;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 135%;
    }
  }

  .containerPhoto {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    .inputUpload {
      background-color: #6d6382;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
      font-size: 0;
      line-height: 0;
      &:disabled {
        background: rgba(243, 243, 243, 0.5);
        border: 1px solid #e8e8e9;
        opacity: 1;
        filter: alpha(opacity=1);
        cursor: not-allowed;
      }
    }
    .inputUpload::-webkit-file-upload-button {
      visibility: hidden;
    }
    .containerBadge {
      cursor: pointer;
      .iconEdit {
        display: flex;
        width: 35px;
        height: 35px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: #84018f;
      }
    }

    .photoProfile {
      width: 132px;
      height: 128px;
      cursor: pointer;
      outline: 2px solid #ba02ca;
    }
    h3 {
      color: #232231;
      text-align: center;

      font-family: 'Inter', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
  }

  .containerInfo {
    display: flex;
    width: 307px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 9px;
    border: 1px solid #ffcfaa;
    background: #fff5e7;
    p {
      color: #45444c;
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
