.sectionPatners {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.sectionPatners #headerMain {
  width: 30vw;
}
.sectionPatners #headerMain h3 {
  color: #6a00a6;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
}
.sectionPatners #articlePatners {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.sectionPatners #articlePatners .containerPatners {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 32px;
}
.sectionPatners #articlePatners .containerPatners .patner {
  display: flex;
  width: 431px;
  height: 468px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(186, 2, 201, 0.5);
  background: #fff;
}
.sectionPatners #articlePatners .containerPatners .patner header {
  display: flex;
  width: 100%;
  height: 133px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #e8e8e9;
}
.sectionPatners #articlePatners .containerPatners .patner div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.sectionPatners #articlePatners .containerPatners .patner div p {
  color: #09090d;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 82%;
  height: 131px;
}
.sectionPatners #articlePatners .containerPatners .patner div button {
  display: flex;
  padding: 10px 8px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background-color: transparent;
}
.sectionPatners #articlePatners .containerPatners .patner div button a {
  height: 100%;
  width: 100%;
  color: #ba02ca;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@media (min-width: 1600px) {
  .sectionPatners #headerMain h3 {
    font-size: 48px;
  }
  .sectionPatners #articlePatners .containerPatners {
    justify-content: space-between;
  }
  .sectionPatners #articlePatners .containerPatners .patner {
    width: 600px;
    height: 500px;
  }
  .sectionPatners #articlePatners .containerPatners .patner div p {
    font-size: 22px;
  }
  .sectionPatners #articlePatners .containerPatners .patner div button a {
    font-size: 22px;
  }
}
@media (max-width: 1320px) {
  .sectionPatners {
    margin-top: 95px;
  }
  .sectionPatners #headerMain {
    width: 100%;
  }
  .sectionPatners #headerMain h3 {
    font-size: 30px;
    text-align: center;
  }
  .sectionPatners #articlePatners .containerPatners {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .sectionPatners #articlePatners .containerPatners .imageIconsPatners {
    display: none;
  }
  .sectionPatners #articlePatners .containerPatners .imageIconsPatners img {
    display: none;
  }
  .sectionPatners #articlePatners .containerPatners .patner {
    width: 46%;
    height: 480px;
  }
  .sectionPatners #articlePatners .containerPatners .patner header {
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: center;
  }
  .sectionPatners #articlePatners .containerPatners .patner header img {
    padding-bottom: 20px;
  }
  .sectionPatners #articlePatners .containerPatners .patner div {
    gap: 32px;
  }
  .sectionPatners #articlePatners .containerPatners .patner div p {
    height: auto;
    font-size: 18px;
    text-align: center;
    height: 160px;
  }
  .sectionPatners #articlePatners .containerPatners .patner div button a {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .sectionPatners {
    margin-top: 95px;
  }
  .sectionPatners #headerMain {
    width: 100%;
  }
  .sectionPatners #headerMain h3 {
    font-size: 30px;
    text-align: center;
  }
  .sectionPatners #articlePatners .containerPatners {
    flex-wrap: wrap;
  }
  .sectionPatners #articlePatners .containerPatners .imageIconsPatners {
    display: none;
  }
  .sectionPatners #articlePatners .containerPatners .imageIconsPatners img {
    display: none;
  }
  .sectionPatners #articlePatners .containerPatners .patner {
    width: 46%;
    height: 480px;
  }
  .sectionPatners #articlePatners .containerPatners .patner header {
    height: 160px;
  }
  .sectionPatners #articlePatners .containerPatners .patner header img {
    padding-bottom: 0;
  }
  .sectionPatners #articlePatners .containerPatners .patner div {
    gap: 32px;
  }
  .sectionPatners #articlePatners .containerPatners .patner div p {
    height: 170px;
    font-size: 16px;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .sectionPatners #articlePatners .containerPatners .patner div {
    height: auto;
  }
  .sectionPatners #articlePatners .containerPatners .patner div p {
    height: auto;
  }
}
@media (max-width: 650px) {
  .sectionPatners #articlePatners .containerPatners {
    flex-direction: column;
    justify-content: flex-start;
  }
  .sectionPatners #articlePatners .containerPatners .patner {
    width: 100%;
    height: 411px;
  }
  .sectionPatners #articlePatners .containerPatners .patner header {
    height: auto;
    justify-content: flex-start;
  }
  .sectionPatners #articlePatners .containerPatners .patner header img {
    width: 48px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=PartnersCarousel.module.css.map */