@import '../../colors/colors.scss';

.sectionRPM {
  margin-top: 115px;
  .sectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .containerRPM {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 48px 0px;

      width: 500px;
      height: 720px;
      gap: 40px;

      background: linear-gradient(
        147.69deg,
        rgba(223, 139, 230, 0.125) 0%,
        rgba(253, 208, 223, 0.1875) 97.62%
      );
      border-radius: 64px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 80px;

        width: 372px;
        height: 571px;

        .containerRPMText {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0px;
          gap: 8px;
          width: 372px;
          height: 149px;

          h2 {
            width: 372px;
            height: 120px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 115%;
            text-align: center;
            background: linear-gradient(
              90deg,
              #ba02c9 1.23%,
              #ff8a91 71.73%,
              #ffacac 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }

          p {
            width: 277px;
            height: 48px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #45444c;
          }
        }

        .containerRPMImg {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px;
          gap: 24px;

          width: 368px;
          height: 310px;
        }
      }
      button {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        gap: 8px;
        width: 308px;
        height: 56px;
        border: 2px solid #ba02c9;
        border-radius: 50px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #ba02c9;
        cursor: pointer;
        background-color: transparent;

        &:hover {
          background-color: #fdefff;
        }
      }
    }
  }
  .sectionForms {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 0px;
    width: 500px;
    height: 700px;
    background: linear-gradient(
      146.52deg,
      rgba(253, 208, 223, 0.1875) 2.11%,
      rgba(223, 139, 230, 0.125) 100%
    );
    border: 2px solid #df8be6;
    border-radius: 64px;

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      padding: 0px;
      gap: 64px;
      width: 378px;
      height: 556px;
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        gap: 8px;
        width: 378px;
        height: 56px;
        background: $gradientMain;
        border-radius: 50px;

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #ffffff;
        border: none;
        cursor: pointer;

        &:hover {
          background: $gradientMainHover;
        }

        &:disabled {
          opacity: 0.5;
        }
      }
      h2 {
        width: 378px;
        height: 92px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 115%;
        text-align: center;
        background: $gradientText;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      .sectionFormsInput {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 366px;
        height: 280px;

        input {
          background-color: transparent;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 12px 16px;
          gap: 10px;
          width: 366px;
          height: 48px;
          border: 1px solid #df8be6;
          border-radius: 8px;
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #636269;
          outline: none;

          &:focus {
            border: 1px solid #ba02ca;
          }
        }
      }
    }
  }
}

@media (min-width: 1020px) and (max-width: 1400px) {
  .sectionRPM {
    .sectionContainer {
      .containerRPM {
        width: 450px;
        height: 720px;
        div {
          .containerRPMText {
            h2 {
              width: 372px;
              height: 100px;
              font-size: 30px;
            }

            p {
              width: 277px;
              height: 48px;
              font-size: 16px;
            }
          }

          .containerRPMImg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 24px;

            width: 320px;
            height: 310px;
          }
        }
        button {
          padding: 16px 24px;
          gap: 8px;
          width: 308px;
        }
      }
    }
  }
}
@media (min-width: 860px) and (max-width: 1019px) {
  .sectionRPM {
    .sectionContainer {
      gap: 20px;
      .containerRPM {
        div {
          .containerRPMText {
            h2 {
              width: 372px;
              height: 100px;
              font-size: 30px;
            }

            p {
              width: 277px;
              height: 48px;
              font-size: 16px;
            }
          }

          .containerRPMImg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 24px;

            width: 320px;
            height: 310px;
          }
        }
      }
    }
  }

  .sectionForms {
    width: 480px !important;
    .sectionFormsInput {
      align-items: center !important;
      margin: 0 auto;
      input {
        width: 90%;
      }

      div {
        width: 90%;
        align-items: center !important;
        margin: 0 auto;
      }
    }
    button {
      width: 300px !important;
      margin: 0 auto;
    }
  }
}
@media (min-width: 376px) and (max-width: 859px) {
  .sectionRPM {
    .sectionContainer {
      height: auto;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      .containerRPM {
        width: 400px !important;
        height: 720px;
        div {
          .containerRPMText {
            h2 {
              width: 372px;
              height: 100px;
              font-size: 30px;
            }

            p {
              width: 277px;
              height: 48px;
              font-size: 16px;
            }
          }

          .containerRPMImg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 24px;

            width: 320px;
            height: 310px;
          }
        }
      }
    }
  }

  .sectionForms {
    width: 400px !important;

    .sectionFormsInput {
      margin: 0 auto;
      input {
        width: 80%;
      }

      div {
        width: 90%;
        margin: 0 auto;
      }
    }
    button {
      width: 300px !important;
      margin: 0 auto;
    }
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .sectionRPM {
    margin-top: 0;

    .sectionContainer {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      .containerRPM {
        width: 100%;
        height: 720px;
        div {
          .containerRPMText {
            width: 320px;
            h2 {
              width: 320px;
              height: 100px;
              font-size: 30px;
            }

            p {
              width: 277px;
              height: 48px;
              font-size: 16px;
            }
          }

          .containerRPMImg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 24px;

            width: 320px !important;
            height: 310px;
          }
        }
        button {
          width: 100%;
        }
      }
    }
  }

  .sectionForms {
    width: 100%;
    form {
      width: 300px !important;
    }
    h2 {
      width: 100% !important;
      height: 100% !important;
      font-size: 24px;
    }

    .sectionFormsInput {
      width: 300px !important;
      margin: 0 auto;
      align-items: center !important;
      input {
        width: 280px !important;
      }

      div {
        width: 90%;
        margin: 0 auto;
      }
    }
    button {
      width: 300px !important;
      margin: 0 auto;
    }
  }
}
