$gradientMain: linear-gradient(90deg, #8246ce 0%, #ba02c9 50.51%, #eb45aa 100%);
$gradientMainHover: linear-gradient(90deg, #ba02c9 0%, #eb45aa 100%);

$gradientText: linear-gradient(
  90deg,
  #ba02c9 1.23%,
  #ff8a91 71.73%,
  #ffacac 100%
);

$gradientBackground: linear-gradient(
  90deg,
  rgba(130, 70, 206, 0.5) 0%,
  rgba(186, 2, 201, 0.5) 50.51%,
  rgba(235, 69, 170, 0.5) 100%
);

@mixin gradientTextPattener {
  background: $gradientText;
  color: transparent;
  background-clip: text;
}

@mixin buttonMain {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: flex-end;
  gap: 8px;
  button {
    display: flex;
    width: 264px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: $gradientMain;
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
    }
  }
}

@mixin buttonMain {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: flex-end;
  gap: 8px;
  button {
    display: flex;
    width: 264px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: $gradientMain;
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
    }
  }
}

@mixin buttonContinue {
  #buttonContinue {
    display: flex;
    width: 264px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: $gradientMain;
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
    }
  }
  @media (max-width: 600px) {
    #buttonContinue {
      width: 100%;
    }
  }
}

@mixin buttonBack {
  #buttonBack {
    display: flex;
    width: 148px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #f3f3f3;
    cursor: pointer;

    color: #ba02ca;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  @media (max-width: 600px) {
    #buttonBack {
      width: 100%;
    }
  }
}

@mixin buttonPhases {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  @include buttonBack;
  @include buttonContinue;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 16px;
  }
}
