.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 115px;
}
.section .sectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  isolation: isolate;
  height: 614px;
  position: relative;
  width: 88vw;
}
.section .sectionContainer .sectionContainerImg {
  width: 100%;
}
.section .sectionContainer .sectionContainerImg img {
  max-width: 100%;
}
.section .sectionContainer .sectionContainerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 479px;
  height: 269px;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
  cursor: default;
}
.section .sectionContainer .sectionContainerText div h1 {
  height: 32px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #ba02c9;
  margin-bottom: 4px;
}
.section .sectionContainer .sectionContainerText div .bordText {
  display: block;
  height: 4px;
  background: #ba02c9;
  border: 2px solid #ba02c9;
  border-radius: 20px;
}
.section .sectionContainer .sectionContainerText h2 {
  width: 377px;
  height: 92px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  color: #6a00a6;
}
.section .sectionContainer .sectionContainerText p {
  width: 347px;
  height: 108px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #45444c;
}
.section .sectionContainer .sectionImg {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  animation: floating 2s ease-in-out 0s infinite alternate;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.section .sectionContainer .sectionContainerText div h1 {
  height: 32px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #ba02c9;
  margin-bottom: 4px;
}
.section .sectionContainer .sectionContainerText div .bordText {
  display: block;
  height: 4px;
  background: #ba02c9;
  border: 2px solid #ba02c9;
  border-radius: 20px;
}
.section .sectionContainer .sectionContainerText h2 {
  width: 364px;
  height: 92px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  color: #6a00a6;
}
.section .sectionContainer .sectionContainerText p {
  width: 373px;
  height: 108px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #45444c;
}
.section .sectionContainer .sectionImg {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  animation: floating 2s ease-in-out 0s infinite alternate;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@media (min-width: 1600px) {
  .section .sectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    position: relative;
    width: 100%;
  }
  .section .sectionContainer .sectionContainerImg img {
    width: 500px;
  }
}
@media (min-width: 1020px) and (max-width: 1400px) {
  .section .sectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    position: relative;
    width: 100%;
  }
}
@media (min-width: 860px) and (max-width: 1019px) {
  .section {
    margin-top: 20px;
  }
  .section .sectionContainer {
    align-items: center;
    width: auto;
  }
  .section .sectionContainer .sectionContainerText {
    margin: 0 auto;
    width: auto !important;
    align-items: center !important;
    justify-content: center;
    text-align: center;
  }
  .section .sectionContainer .sectionContainerText .bordText {
    width: 100% !important;
  }
  .section .sectionContainer .sectionContainerImg {
    width: 350px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .section .sectionContainer .sectionContainerImg img {
    width: 350px;
  }
  .section .sectionContainer .sectionImg {
    display: none !important;
  }
}
@media (min-width: 376px) and (max-width: 859px) {
  .section {
    margin-top: 40px;
  }
  .section .sectionContainer {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    height: -moz-max-content;
    height: max-content;
  }
  .section .sectionContainer .sectionContainerText {
    margin: 0 auto;
    width: auto !important;
    align-items: center !important;
    justify-content: center;
    text-align: center;
  }
  .section .sectionContainer .sectionContainerText .bordText {
    width: 100% !important;
  }
  .section .sectionContainer .sectionContainerImg {
    width: 350px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .section .sectionContainer .sectionContainerImg img {
    width: 350px;
  }
  .section .sectionContainer .sectionImg {
    display: none !important;
  }
}
@media (min-width: 280px) and (max-width: 375px) {
  .section .sectionContainer {
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
  .section .sectionContainer .sectionContainerText {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .section .sectionContainer .sectionContainerText .bordText {
    width: 100% !important;
  }
  .section .sectionContainer .sectionContainerText h2 {
    width: 100%;
    height: auto;
    font-size: 35px;
  }
  .section .sectionContainer .sectionContainerText p {
    width: 100%;
    height: 100px;
  }
  .section .sectionContainer .sectionContainerImg {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .section .sectionContainer .sectionContainerImg img {
    width: 100%;
  }
  .section .sectionContainer .sectionImg {
    display: none !important;
  }
}/*# sourceMappingURL=SectionFour.module.css.map */