.sectionPublished {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sectionPublished .containerMain {
  display: flex;
  width: 643px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
  border-radius: 8px;
  background: #fff;
}
.sectionPublished .containerMain header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.sectionPublished .containerMain header h2 {
  color: #09090d;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}
.sectionPublished .containerMain header p {
  display: flex;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 25px;
  border: 1px solid #ffcfaa;
  background-color: #fff5e7;
  color: #b58339;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 18px */
}
.sectionPublished .containerMain .containerInfo {
  display: flex;
  width: 564px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid #e8e8e9;
  background: rgba(243, 243, 243, 0.5);
}
.sectionPublished .containerMain .containerInfo .containerTextBoleto {
  display: flex;
  width: 340px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.sectionPublished .containerMain .containerInfo .containerTextBoleto h1 {
  color: #09090d;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}
.sectionPublished .containerMain .containerInfo .containerTextBoleto p {
  color: #636269;
  text-align: center;
  /* Body/Body - regular */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.sectionPublished .containerMain .containerInfo .containerText {
  display: flex;
  width: 292px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.sectionPublished .containerMain .containerInfo .containerText h1 {
  width: 290px;
  color: var(--neutral-neutral-1000, #09090d);
  text-align: center;
  /* Heading Web/Heading-24 */
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 32.4px */
}
.sectionPublished .containerMain .containerInfo .containerText p {
  width: 300px;
  color: var(--neutral-neutral-600, #636269);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.sectionPublished .containerMain .containerInfo button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: linear-gradient(90deg, #8246ce 0%, #ba02c9 50.51%, #eb45aa 100%);
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  cursor: pointer;
}/*# sourceMappingURL=Published.module.css.map */