.sectionChart {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 60%;
}
.sectionChart h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #232231;
}
.sectionChart .sectionChartLine {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 100%;
  justify-content: space-between;
}
.sectionChart .sectionChartLine .chartLineContainerMain {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 45px 30px 32px;
  background: #ffffff;
  border: 1px solid rgba(159, 154, 168, 0.25);
  border-radius: 24px;
  width: 100%;
  height: 152px;
}
.sectionChart .sectionChartLine .chartLineContainerMain .chartLineContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 87.86px;
}
.sectionChart .sectionChartLine .chartLineContainerMain .chartLineContainer .chartLine {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 18px;
  width: 127px;
  height: auto;
}
.sectionChart .sectionChartLine .chartLineContainerMain .chartLineContainer .chartLine .chartLineText {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14.3556px;
  line-height: 19px;
  /* identical to box height */
  color: #3b96fc;
}
.sectionChart .sectionChartLine .chartLineContainerMain .chartLineContainer .chartLineText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.sectionChart .sectionChartLine .chartLineContainerMain .chartLineContainer .chartLineText h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #000631;
}
.sectionChart .sectionChartLine .chartLineContainerMain .chartLineContainer .chartLineText p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  /* or 32px */
  color: #3b96fc;
}
.sectionChart .sectionChartLine .chartLineContainerMain .chartLineContainer .chartLineText .textEmpyLine {
  color: var(--neutral-neutral-1000, #09090d);
  /* Body/Body - regular 16 */
  font-size: 16px;
  font-weight: normal;
  font-family: Inter, sans-serif;
  line-height: 150%;
}
.sectionChart .sectionChartLine .chartLineContainerMain .chartLineContainer .chartLineText .chartLineTextClick {
  margin-left: 20px;
}
.sectionChart .sectionChartLine .chartLineContainerMain .chartLineContainer .emptychartLine {
  width: 50px;
  height: 50px;
}
.sectionChart .sectionChartPie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 48px;
  gap: 16px;
  width: 100%;
  height: 324.86px;
  background: #ffffff;
  border: 1px solid rgba(159, 154, 168, 0.25);
  border-radius: 24px;
}
.sectionChart .sectionChartPie div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  margin-bottom: -20px;
  width: 600px;
  height: 233.86px;
}
.sectionChart .sectionChartPie div .chartText {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.sectionChart .sectionChartPie div .chartText h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  /* neutras/Dark */
  color: #000631;
}

@media (max-width: 1280px) {
  .sectionChart .sectionChartLine {
    flex-direction: column;
  }
  .sectionChart .sectionChartLine .chartLineContainerMain .chartLineContainer {
    justify-content: space-around;
  }
  .sectionChart .sectionChartPie div .chartText {
    width: -moz-max-content;
    width: max-content;
  }
}/*# sourceMappingURL=SectionChart.module.css.map */